[Unit]
Description=Gravitee.io Management Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/graviteeio/graviteeio-full-1.1.0/graviteeio-management-api-1.1.0/bin/gravitee
Restart=on-abort

[Install]
WantedBy=multi-user.target
