[Unit]
Description=Gravitee.io Management Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/home/graviteeio/graviteeio-full/graviteeio-management-api/bin/gravitee
Restart=on-abort

[Install]
WantedBy=multi-user.target
